* {
  box-sizing: border-box;
  max-width: 100%;
  /* font-size: 2rem; */
  text-align: center;
}

html {
  /* font-size: 62.5%; */
}

h2, p, a, button, input {
  color: #135A75;
  font-size: 1.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
  border-bottom: 1px solid black;
  background-color: #135A75;
  color: white;
}

header div {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.dat {
  padding: 3%;
}

.instructions {
  width: 50%;
}

.instructions h2 {
  text-align: left;
}
.instructions p {
  text-align: left;
}

.week-day {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  padding: 1%;
}

.week-day h2, p {
  height: 10%;
}
.week-day input {
  height: 50%;
  font-size: 2rem;
  text-align: center;
}